@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 10px;
    font-family: 'Merriweather';
}

a {
  text-decoration: underline;
}

audio{
  opacity: 50%;
  display: flex;
  width: 270px;
}
